<html>
<head>
  <meta charset="UTF-8">
  <title>Histogramme</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div id="chart_div"></div>
  <script>
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawBackgroundColor);
    function drawBackgroundColor() {
      function drawChart(data) {
        // Convertir les données en tableau Google Charts
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Date');
        dataTable.addColumn('number', 'Température Minimale');
        dataTable.addColumn('number', 'Température Maximale');
        data.results.forEach(entry => {
          var date = new Date(entry.Jour * 1000);
          dataTable.addRow([date.toLocaleDateString(), entry.tempmin, entry.tempmax]);
        });

        // Déterminer l'échelle optimale pour l'axe vertical
        var vAxisRange = google.visualization.getScaleRange(dataTable, 1);

        // Configuration du diagramme à colonnes
        var options = {
          title: 'Évolution des températures de Paris pour les 16 prochains jours',
          chartType: 'column',
          legend: { position: 'bottom' },
          series: {
            // Série pour les températures minimales
            0: { color: '#336699' },
            // Série pour les températures maximales
            1: { color: '#993366' }
          },
          vAxis: {
            // Utilisation de l'échelle automatique
            minValue: vAxisRange.min,
            maxValue: vAxisRange.max,
            // Afficher les valeurs des repères
            gridlines: {
              count: 10,
              labels: {
                format: '#°C'
              }
            }
          },
          hAxis: {
            gridlines: {
              count: 4
            }
          }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      }

      // Récupération des données depuis l'API
      fetch('/tawarano/')
        .then(response => response.json())
        .then(data => {
          drawChart(data);
        })
    }
  </script>
</body>
</html>
